.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #0b0b0b;
    border-radius: 18px;
    box-shadow: 7px 7px #0b0b0b;
    padding: 0 14px;
}

.logo {
    user-select: none;
    cursor: pointer;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.logo:hover {
    color: #1C92FF;
}

.join-button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Onest-Regular', sans-serif;
}

.join-button:hover{
    transform: translateY(-5px);
    background-color: #1C92FF;
}