.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-width: 80%;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #0b0b0b;
    box-shadow: 3px 3px #0b0b0b;
    text-align: center;
    background-color: #f9f9f9;
    transition: 0.3s ease;
}

.login-card:hover{
    box-shadow: 5px 5px #0b0b0b;
}

.form-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.active {
    background-color: #0059ff;
}

.login-header {
    font-size: 2em;
    margin-bottom: 50px;
}

.login-header span{
    padding: 0 0.2em;
    background-color: #1C92FF;
    color: #fff;
}


.login-text {
    color: #666;
    margin: 20px 0;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 26px 38px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    transition: 0.3s ease;
}


.login-button:hover {
    opacity: 0.9;
}

.github {
    background-color: #0b0b0b;
}

.github:hover {
    transform: translateY(-5px);
}

.email {
    border: 2px solid #0b0b0b;
    background-color: #f9f9f9;
    color: #393939;
}

.email:hover{

    transform: translateY(-5px);
}

.login-link {
    color: #0059ff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 0.8em;
}

.login-link:hover {
    text-decoration: underline;
}


.back-button {
    color: #0059ff;
    background: none;
    border: 2px solid #0059ff;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.111em;
    cursor: pointer;
    transition: border-color .3s, background-color .3s, transform .3s, color .3s;
}

.back-button:hover {
    text-decoration: underline;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.github-icon{
    border-radius: 15px;
    padding: 2px;
    background-color: white;
    margin-left: 10px;
    width: 30px;
    height: auto;
}