.home-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    color: #333;
    border-radius: 5px;
}

h1, h2, h3 {
    font-weight: 700;
}

.highlight-codefolio {
    color: #fff;
    background-color: #ff4a60;
    padding: 0 0.2em;
}

.highlight-users {
    color: #fff;
    background-color: #4a90e2;
    padding: 0 0.2em;
}

.highlight-features {
    color: #fff;
    background-color: #5C42FB;
    padding: 0 0.2em;
}
.intro-section,
.testimonial-section,
.feature-section {
    margin-bottom: 40px;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.7em;
    margin-bottom: 10px;
    line-height: 2.2rem;
}

p {
    line-height: 1.6;
    font-size: 1em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}

blockquote {
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #666666;
    margin: 20px 0;
    color: #333;
}

cite {
    display: block;
    text-align: right;
    color: #666;
    font-size: 0.8em;
}

.ide-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.intro-image {
    border-radius: 20px;
    border: 2px solid #0b0b0b;
    box-shadow: 3px 3px #0b0b0b;
    width: 900px;
    height: auto;
    transition: 0.3s ease;
}

.intro-image:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px #0b0b0b;
}

.profile-img{
    border: 4px solid #0b0b0b;
    border-radius: 50px;
    width: 75px;
    height: auto;
    box-shadow: 3px 3px #0b0b0b;
    transition: 0.3s ease;
}

.profile-img:hover{
    transform: translateY(-3px);
    box-shadow: 4px 4px #0b0b0b;
}

@media screen and (max-width: 1024px){
    .intro-image{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .home-container {
        width: 100%;
        text-align: center;
    }

    .intro-section,
    .testimonial-section,
    .feature-section {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 5px;
        line-height: 1.8rem;
    }

    .testimonial-grid,
    .features-grid {
        grid-template-columns: 1fr;
    }

    .testimonial-grid {
        grid-template-areas:
        "quote1"
        "img1"
        "quote2"
        "img2";
    }

    .testimonial-grid blockquote:nth-child(1) {
        grid-area: quote1;
    }

    .testimonial-grid img:nth-child(2) {
        grid-area: img1;
    }

    .testimonial-grid img:nth-child(3) {
        grid-area: img2;
    }

    .testimonial-grid blockquote:nth-child(4) {
        grid-area: quote2;
    }

    .intro-image {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    .features-grid div {
        text-align: center;
    }

    .features-grid div h3, .features-grid div p {
        margin-left: 0;
        margin-right: 0;
    }

    .features-grid div {
        padding: 0 10px;
    }
}