@font-face {
    font-family: 'Onest-Regular';
    src: url('./assets/fonts/Onest-Regular.ttf') format('truetype');
}

* {
    color: #393939;
    font-family: 'Onest-Regular', sans-serif;
}

body{
    background-color: #FAF9F6;
    color: #393939;
    font-family: Onest, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.667em;
}