/* Use Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest-Regular";
  src: url("./assets/fonts/Onest-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Onest-Bold";
  src: url("./assets/fonts/Onest-Bold.ttf") format("truetype");
}

* {
  @apply text-gray-800;
}

body {
  @apply bg-gray-50
    font-sans
    text-lg
    font-medium
    leading-loose
    text-gray-800;
  font-family: "Onest-Regular", sans-serif;
}

.font-bold {
  font-family: "Onest-Bold", sans-serif;
}
